In [21]:
library(jsonlite)
library(dplyr)
library(stringr)

In [20]:
rows<-10000

# http://query.eventdata.crossref.org/events?rows=10000&cursor=17399fd9-319d-4b28-9727-887264a632b1
jsondf<-fromJSON(paste0('http://query.eventdata.crossref.org/events?rows=',rows,'&filter=source:crossref'))

In [14]:
data<-jsondf$message$events
nrow(data)

[1] 10000

In [15]:
data <- data %>% 
    mutate(occurred_at = as.Date(occurred_at),
           timestamp = as.Date(timestamp),
           relation_type_id = as.factor(relation_type_id),
           message_action = as.factor(message_action),
           obj_prefix = str_extract(obj_id,'(10\\.\\d{4,5})'),
           subj_prefix = str_extract(subj_id,'(10\\.\\d{4,5})'),
           message_action = as.factor(message_action),
           source_id = as.factor(source_id))

In [16]:
nrow(data)

[1] 10000

In [17]:
save(data,file="../data/05072017_Mugging_Crossref_Datacite_links_out.Rda")

[1] "10.5061"

$data
list()

$meta
$meta$`resource-types`
          id      title count
1    dataset    Dataset 79256
2       text       Text    30
3 collection Collection     9
4   software   Software     4

$meta$years
     id title count
1  9999  9999    90
2  2017  2017 10988
3  2016  2016 18930
4  2015  2015 18285
5  2014  2014 12011
6  2013  2013  8877
7  2012  2012  5037
8  2011  2011  2708
9  2010  2010   719
10 2009  2009   485
11 2008  2008   191
12 2007  2007     7
13 0000  0000  1113

$meta$`data-centers`
            id                                                         title
1    cdl.dryad                                                         Dryad
2 figshare.ars                             figshare Academic Research System
3  cern.zenodo                                    ZENODO - Research. Shared.
4    cdl.nceas National Center for Ecological Analysis and Synthesis (NCEAS)
5    cdl.peerj                                                         PeerJ
  count
1 79379
2    53
3     5
4     2
5     2

$meta$`schema-versions`
   id      title count
1   4   Schema 4 23025
2   3   Schema 3 53289
3 2.2 Schema 2.2  3127

$meta$total
[1] 79441